{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Créer une tâche</h1>
    <div class="col-md-12">
        <div class="row btn-create-task">
            <a href="{{ path('homepage') }}" class="btn">Retour à la page d'accueil</a>
            <a href="{{ path('task_list') }}" class="btn">Retour à la liste des tâches</a>
        </div>
        <div class="row">
            {{ form_start(form, {'action' : path('task_create')}) }}
                {{ form_widget(form) }}

                <button type="submit" class="btn btn-add pull-right">Ajouter</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
